body {
    background-color: rgb(255, 181, 243);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: rgb(255, 110, 110);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

/* Page layout */
.page-layout {
    display: flex;
    min-height: 80vh;
}

/* Navigation */
nav {
    width: 200px;
    background-color: #f3f3f3;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
    cursor: pointer;
}

/* Main */
main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

/* Sections */
.left, .right {
    width: 40%;
}

.note {
    font-size: 0.9rem;
    color: #333;
}

/* Todo list */
ul {
    text-align: center;
    list-style-position: inside;
    list-style-type: square;
    font-size: larger;
}

.urgent {
    color: red;
}

.normal {
    color: black;
}

/* Buttons */
.removeButton {
    background-color: deeppink;
    border-color: deeppink;
    cursor: grab;
    margin-left: 10px;
}

.removeButton:hover {
    background-color: rgb(255, 155, 208);
}

#addButton {
    background-color: deeppink;
    border-color: deeppink;
    font-size: larger;
    cursor: grab;
}

#addButton:hover {
    background-color: rgb(255, 155, 208);
}

#todoInput {
    font-size: larger;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

footer a {
    color: lightgreen;
    text-decoration: none;
}
