body {
    background-color: rgb(255, 181, 243);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 100px;
}

.left, .right {
    width: 40%;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 450%;
    text-align: center;
    
}

ul {
    text-align: center;
    list-style-position: inside;
    list-style-type: square;
    font-size: larger;

}

.urgent{
    color: red;
}

.normal {
    color: black;
}

.removeButton {
    background-color: deeppink;
    border-color: deeppink;
    cursor: grab;
}

.removeButton:hover {
    background-color: rgb(255, 155, 208);
}

#addButton {
    background-color: deeppink;
    border-color: deeppink;
    font-size: larger;
    cursor: grab;
}

#addButton:hover {
    background-color:rgb(255, 155, 208) ;
}

#todoInput {
    font-size: larger;
}